---
import { TECHSLIST } from "../Techs/TechsList.astro";
import Github from "../../icons/Github.astro";
import Live2 from "../../icons/Live2.astro";

export interface Props {
  title: string;
  tagline: string;
  description: string;
  technologies: string[];
  image: string;
  urlSite: string;
  urlCode?: string;
}

export interface Tech {
  name: string;
  image: string;
  image2?: string;
}

const { title, tagline, technologies, image, urlSite, urlCode } = Astro.props;
const Title = title.toLocaleUpperCase();
const path = `/projects/${image}`;
---

<section class="group">
  <div
    class="relative text-white bg-[#1a1a1a] border-1 rounded-xl p-3 bg-cover bg-center w-full">
    <h1 class="mx-1 text-5xl md:text-3xl lg:text-2xl">{Title}</h1>
    <p class="text-pretty text-3xl md:text-lg lg:text-base text-gray-400 mx-1">
      {tagline}
    </p>
    <div
      class="absolute right-5 top-6 md:top-10 lg:top-8 flex flex-row gap-[1px] opacity-75 group-hover:opacity-100">
      <a
        href={urlSite}
        target="_blank"
        rel="noreferrer"
        class="size-16 md:size-9">
        <Live2 class="size-16 md:size-8 scale-110" />
      </a>
      <a
        href={urlCode}
        target="_blank"
        rel="noreferrer"
        class="size-16 md:size-8 rounded-full bg-blue-500">
        <Github class="size-16 md:size-8" /></a
      >
    </div>
    <!-- <div
        class="absolute size-10 bg-black rounded-full top-0 right-2 text-base group-hover:bg-blue-600">
      </div> -->
    <div class="relative mx-1 mt-2 md:mt-1 mb-0">
      <a href={urlSite} target="_blank" rel="noreferrer">
        <img class="border rounded-xl" src={path} alt={`${title} img`} />
      </a>
      <div
        class="absolute left-5 md:left-3 top-1/2 transform translate-y-1/2 h-0 w-14 md:w-8 flex flex-col justify-center items-center gap-1 opacity-100 md:opacity-0 group-hover:opacity-100 shadow-lg">
        {
          technologies.map((tech) => {
            const techItem = TECHSLIST.find((techs) => techs.name === tech);
            const pathImage1 = techItem ? `techs/${techItem.image}` : null;
            const pathImage2 = techItem ? `techs/${techItem.image2}` : null;
            return techItem ? (
              <img
                class="w-full filter"
                style="filter: drop-shadow(0 0 10px black);"
                src={pathImage1 || pathImage2}
                alt={techItem.name}
                width={50}
                height={50}
              />
            ) : null;
          })
        }
      </div>
    </div>
  </div>
</section>
